.button
    cursor pointer
    display inline-block
    padding 14px
    border 1px solid $color_grey_dark
    color $color_font
    line-height 1
    text-align center
    background $color_grey
    text-decoration none
    border-radius 16px
    min-width 100px
    transition .3s
    &:hover
        color white
        background $color_red
    &:active
        background darken($color_red, 30%)